*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock span{
    position: absolute;
    inset: 12px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
}

.hand{
    position: absolute;
}

.hand i{
    position: absolute;
    bottom: 0;
    background: #fff;
    transform-origin: bottom;
    border-radius: 8px;
}

/* Hour hand */
.hour i{
    width: 6px;
    height: 60px;
}

/* Minute hand */
.minute i{
    width: 4px;
    height: 80px;
}

/* Second hand */
.second i{
    width: 2px;
    height: 100px;
    background: red;
}
